{% extends 'base.html.twig' %}

{% block title %}Edycja danych{% endblock %}

{% block body %}

    <h1>Edycja</h1>

    {{ form_start(form) }}

    {{ form_row(form.name, {
        label: 'Imię',
        attr: {'class': 'form-control'}
    })
    }}

    {{ form_row(form.lastname, {
        label: 'Nazwisko',
        attr: {'class': 'form-control'}
    })
    }}

    {{ form_row(form.email, {
        label: 'Adres email',
        attr: {'class': 'form-control'}
    })
    }}

    {% if is_granted('ROLE_ADMIN') %}
    {{ form_row(form.roles, {
        label: 'Rola użytkownika',
        attr: {'class': 'form-control'}
    })
    }}
    {% endif %}


    {{ form_row(form.birthDate, {
        label: 'Data urodzenia',
        attr: {'class': 'form-control', 'max' : "now"|date("Y-m-d")}
    })
    }}

    {{ form_row(form.residencePlace, {
        label: 'Miejsce zamieszkania',
        attr: {'class': 'form-control'}
    })
    }}

    {{ form_row(form.phone, {
        label: 'Numer telefonu',
        attr: {'class': 'form-control'}
    })
    }}

    <br />
        <button type="submit" class="btn btn-primary">Zapisz zmiany</button>

    {{ form_end(form, {'render_rest': false}) }}
    <br />
    {% if (is_granted('ROLE_ADMIN') == true) and not (app.user.id == user.id) %}
    <a href="{{ path('admin_user_reset_password', {id: user.id }) }}" class="btn btn-danger">Zresetuj hasło</a>
   <a class="btn btn-warning" href="{{ path('homepage') }}?_switch_user={{ user.email|url_encode  }}">Zaloguj się na konto użytkownika</a>
    {% endif %}

    <hr />

{% if (is_granted('ROLE_USER') == true) or not (app.user.id == user.id) %}
<div class="card mb-3">
    <div class="card-header" id="headingOne">

        <button class="btn btn-info" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">
            Pokaż historię pacjenta
        </button>
    </div>


    <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Opis pacjenta</th>
                    <th scope="col">Opis stomatologa </th>

                </tr>
                </thead>
                <tbody>
                {% for visit in user.visits %}
                    {% if visit.status == 1 %}
                        <tr>
                            <td>{{  visit.visitDate|date("Y-m-d H:i") }}</td>
                            <td>{{ visit.description }}</td>
                            <td>{{ visit.comment }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}


{% endblock %}