{% extends 'base.html.twig' %}

{% block title %}Lista pacjentów{% endblock %}

{% block body %}
    <h3>Pacjenci</h3>
    {% if showAll %}
    <a href="{{ path('visit_doctor_patients') }}"><button class="btn btn-sm btn-primary">Pokaż dzisiejsze wizyty</button></a>
    {% else %}
    <a href="{{ path('visit_doctor_patients_all') }}"><button class="btn btn-sm btn-primary">Pokaż wszystkie wizyty</button></a>
    {% endif %}

    <br /><br />

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Pacjent</th>
            <th scope="col">Data</th>
            <th scope="col">#</th>
        </tr>
        </thead>
        <tbody>
        {% for visit in visits %}
            <tr  class="{% if visit.status == 0 %} btn-success {% else %} btn-info {% endif %}">
                <td>{{ loop.index }}</td>
                <td>{{  visit.patientId.fullname }}</td>
                <td>{{  visit.visitDate|date("Y-m-d H:i") }}</td>
                <th scope="col">{% if visit.status == 0 %} <a  href="{{ path('doctor_accept_visit', {id:visit.id }) }}" class="btn btn-danger" role="button">Przyjmij wizytę</a>{%  endif %} </th>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}